.editForm {
    position: absolute;
    height: max-content;
    width: max-content;
    top: 40%;
    right: 40%;
    padding: 15px;
    z-index: 1000;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgb(114, 114, 114);
    display: flex;
    align-items: space-around;
}

.editForm textarea {
    resize: none;
    border-radius: 10px;
    width: 200px;
    min-height: 100px;
    height: max-content;
}

.editForm .buttons {
    display: flex;
    justify-content: flex-end;
}