*{
    box-sizing: border-box;
}

.message {
    margin: 20px;
    padding: 10px;
    height: max-content;
    overflow-x: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgb(114, 114, 114);
    background-color: seashell;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    align-self: flex-start;
}

.createdAt {
    position: absolute;
    right: 10%;
    font-size: smaller;
    align-self: flex-end;
    margin-right: 5px;
}

.active {
    color: red;
    border: none;
}

.active:hover {
    color: grey;
    border:none;
}

.likeButton {
    position: absolute;
    right: 5%;
    align-self: flex-end;
    justify-self: right;
    background-color: transparent;
    border: none;
}

.likeButton:focus {
    outline: none;
}

.likeButton:hover {
    color: red;
}

.mutationForm {
    position: absolute;
    right: 5%;
    align-self: flex-start;
    justify-content: flex-end;
    opacity: 0;
    /* display: inline-block; */
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: smaller;
    color: #888
}

.mutationForm button:hover {
    color: #666;
} 

.mutationForm button:focus {
    outline: none;
}

.messageText {
    padding: 10px;
    width:100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.currentUser > .messageText {
    text-align: right;
}

.currentUser > .likeButton:hover {
    color: grey;
}

.currentUser:hover > .mutationForm {
    opacity: 1;
}
